header {
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a {
    padding-right: 100px;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

